.Testdad{
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid black;
    height: 2.5em;
    line-height: 2.5em;
}

.Testdad:last-child{
    border-bottom: none;    
}

.Testdad-check{
    text-decoration: line-through;
    color: black;
    opacity: 0.3;
    font-weight: bold;
}



.Testdad-finish{
    color: #5cb85c;
    font-weight: bold;
    border-bottom: 1px solid black;
    height: 2.5em;
    line-height: 2.5em;
}



.Testdad-unfinish{
    color: red;
    font-weight: bold;
    border-bottom: 1px solid black;
    height: 2.5em;
    line-height: 2.5em;
}