*{
  margin: 0;
  padding: 0;
}


@font-face{
  font-family: titleFont;
  src: url(./components/fonts/AlexBrush-Regular.ttf);
  font-weight: bold
}




.App{
  margin-top: 5em;
 
}


.App h1{
  text-align: center;
  margin-top: -0.5em;
  font-family: titleFont;
  font-size: 100px;
}


.Showlist {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #78bdc6;
}


.actionMenu{
  margin-top: 10em;
  margin-left: -0.8em;
}


.actionButton{
    width: 6em;
    font-size: 12px !important;
    text-align: center !important;
    font-weight: bold !important;
    color: #888888 !important;
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    font-family: Georgia;
}


.actionButton:hover{
  transition: 0.3s !important;
  background-color: #888888 !important;
  transform: translateY(-0.35em) !important;
  color: white !important;
  box-shadow: 5px 10px 18px black !important; 
}

.actionButtonOnStatus{
  transition: 0.3s;
  background-color: #888888 !important;
  transform: translateY(-0.35em);
  color: white !important;
  box-shadow: 5px 10px 18px black !important; 
}

#delete:hover{
  background-color: red !important;

}

#delete img{
  height: 1.3em;
  width: 1.3em;
}

#tooltip{
  opacity: 0.5;
}

